.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 254px;
  gap: 20px;
  position: relative;
}

/* Rotation buttons on top left and right */
.rotation-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.rotate-btn {
  width: 70px;
  height: 30px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Direction buttons arranged in a circle */
.direction-btns {
  border: 1px solid black;
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  grid-gap: 10px;
}

.direction-btn {
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e15a1d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

.direction-btn:active,
.rotate-btn:active {
  transform: scale(0.95);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Positioning direction buttons */
.up-btn {
  grid-area: up;
}

.left-btn {
  grid-area: left;
}

.right-btn {
  grid-area: right;
}

.down-btn {
  grid-area: down;
}

/* Shared button styles */
.control-btn {
  background-color: #e15a1d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  -webkit-box-shadow: -3px 12px 29px -19px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -3px 12px 29px -19px rgba(0, 0, 0, 0.57);
  box-shadow: -3px 12px 29px -19px rgba(0, 0, 0, 0.57);
}

.control-btn:hover {
  background-color: #ff732d;
}

.control-btn:active {
  background-color: #d94f14;
}
