.app-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://bellroy-cms-images.imgix.net/1259/background-texture-repeat.jpg?auto=format&fit=max);
  padding: 50px;
  @media (min-width: 500px) {
    width: 500px;
  }
  .title {
    font-family: GTUltra, serif;
    color: #333333;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
