:root {
  background: #efeae5;
  height: 100vh; /* Ensure the root element takes the full viewport height */
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  margin: 0; /* Ensure no margins for the root */
  padding: 0;
}
