@import "@components/Controls/controls";
@import "@components/GridBox/gridbox";
@import "@components/Robot/robot";
@import "./App/app";

:root {
  background: #efeae5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
